.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: aqua;
  box-shadow:  0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center{
  text-align: center;
}

.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: azure;
  box-shadow:  0 0 10px gray;
}

.transaction-form input{
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
}


.tarnsaction-list{
  margin: 0;
  padding: 0;

}

.tarnsaction-list li{
display: flex;
justify-content: space-between;
box-shadow:  0 0 10px rgb(143, 76, 76);
padding: 5px 2px;
background-color: white;
margin: 5px 0;
}